<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#tlr_chargen_sheet">Sheet</a></li>
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#tlr_chargen_gear">Gear</a></li>
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#tlr_starting_experience">Gear</a></li>