<div id="tlr_sheet" class="tab-pane fade">
    <tr>
        <td>
           {{{ansi-format text=this.char.custom.strength}}}
        </td>
        <td>
            {{{ansi-format text=this.char.custom.heart}}}
        </td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
</div>
