<div id="tlr_sheet" class="tab-pane fade">
    <table>
    <tr vertical-align: middle>
        <th>Attributes</th>
        <td>{{{ansi-format text=this.char.custom.strength}}}</td>
        <td>{{{ansi-format text=this.char.custom.heart}}}</td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
    </tr>
    </table>
</div>
