<div id="tlr_sheet" class="tab-pane fade">
<div class="row">
  <div class="col col-md-6 col-sm-12">
    <tr>
        <th>Attributes</th>
        <td valign="middle">{{{ansi-format text=this.char.custom.strength}}}</td>
        <td valign="middle">{{{ansi-format text=this.char.custom.heart}}}</td>
        <td valign="middle">{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
    </tr>
    </div>
    </div>
</div>
